<h1>Trails at <%= @national_park.name %> National Park</h1>
<p><%= link_to "#{@national_park.name} National Park Details", "/national_parks/#{@national_park.id}" %></p><br>

<% @trails.each do |trail| %>
  <section class="record" id="nptid-<%= @national_park.id %>-<%= trail.id %>">
    <section class='container'>
      <%= link_to "#{trail.name}", "/trails/#{trail.id}", class: "item-title" %>
      <%= button_to 'Edit', "/trails/#{trail.id}/edit", method: :get, class: "item-button" %>
      <%= button_to 'Delete', "/trails/#{trail.id}", method: :delete, class: "item-button" %>
    </section>
    <p class='indent'>
      Loop?: <%= trail.is_loop %><br>
      Length: <%= trail.length %> miles<br>
      Created at: <%= trail.created_at %><br>
      Updated at: <%= trail.updated_at %>
    </p>
  </section>

<% end %><br>

<%= link_to 'Create Trail', "/national_parks/#{@national_park.id}/trails/new" %>
<%= link_to 'Sort Trails By Name', "/national_parks/#{@national_park.id}/trails?sort=name_asc" %>
<br><br>
<%= form_with url: "/national_parks/#{@national_park.id}/trails?length=#{@length}", method: :get, local: true do |form| %>
  <%= form.label :length, 'Only return trails with a length more than:' %>
  <%= @length = form.text_field :length %>
  <%= form.submit 'Submit' %>
<% end %>
