<h1>All Campgrounds</h1>

<% @campgrounds.each do |campground| %>
  <section class="record" id="cgid<%= campground.id %>">
    <section class="container">
      <%= link_to "#{campground.name}", "/campgrounds/#{campground.id}", method: :get, class: "item-title" %>
      <%= button_to 'Edit', "/campgrounds/#{campground.id}/edit", method: :get, class: "item-button" %>
      <%= button_to 'Delete', "/campgrounds/#{campground.id}", method: :delete, class: "item-button" %>
    </section>
    <p class="indent">
      (Created at: <%= campground.created_at %>)
      <% if params[:sort] %>
        <br>
        <%= "Number of Campsites: #{campground.campsite_count}" %>
      <% else %>
        <br><br>
      <% end %>
    </p>

  </section>
<% end %><br>

<%= link_to 'New Campground', '/campgrounds/new', method: :get %>
<%= link_to 'Sort by Number of Campsites', '/campgrounds?sort=campsites', method: :get %>
